<div id="channel_{{c_id}}" class="row">
    <span class="channel-id col-xs-4"><b>Channel {{c_id}}</b> {{cur}}/{{sleepTime}}/{{goal}}</span>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{percent}}%">
            <span class="progress-text">{{percent}}%</span>
        </div>
    </div>
</div>